Repository Automattic/mongoose, pull requests merged in 2020-05, with the labels that each got.

#8919 docs(populate, faq): separate limit-vs-perDocumentLimit into its own section, add FAQ for populate and limit
  docs/faq.pug
  docs/populate.pug
Labels: docs

#8897 fix(virtualtype): order in applyGetters and applySetters
  lib/document.js
  lib/virtualtype.js
  test/docs/schemas.test.js
Labels: backwards-breaking

#8937 docs(faq): fix broken reference in limit vs perDocumentLimit
  docs/faq.pug
Labels: docs

#8568 Fix: allow dynamic foreignField in virtual populate
  lib/helpers/populate/getModelsMapForPopulate.js
Labels: enhancement

#9061 docs: fix property value in Getters example
  docs/guide.pug
  docs/schematypes.pug
Labels: docs
