Repository Automattic/mongoose, pull requests merged in 2021-02, with the labels that each got.

#9878 Add missing overload to Model.validate (#9877)
  index.d.ts
Labels: typescript

#9887 Mention other debug options than console
  docs/faq.pug
Labels: docs

#9888 fix(index.d.ts): allow required function in array definition
  index.d.ts
  test/typescript/schema.ts
Labels: typescript

#9890 fix(index.d.ts): reorder create typings to allow array desctructuring
  index.d.ts
  test/typescript/create.ts
Labels: typescript

#9914 📝 fixed confusing sentence in Schema docs
  docs/guide.pug
Labels: docs

#9959 Improve types
  index.d.ts
Labels: typescript

#9958 A simple PR that adds enforcing onto schema
  index.d.ts
Labels: typescript

#9960 fix(connection): fix promise chaining for openUri
  lib/connection.js
Labels: confirmed-bug

#9964 small typo fix
  docs/populate.pug
Labels: docs
