Repository Automattic/mongoose, pull requests merged in 2022-12, with the labels that each got.

#12644 Change Links to not link to `api.html` anymore
  CONTRIBUTING.md
  README.md
  docs/async-await.md
  docs/connections.md
  docs/deprecations.md
  docs/documents.md
  docs/faq.md
  docs/geojson.md
  docs/guide.md
  docs/index.md
  docs/middleware.md
  docs/migrating_to_5.md
  docs/models.md
  docs/plugins.md
  docs/populate.md
  docs/promises.md
  docs/queries.md
  docs/schematypes.md
  docs/splitApiDocs.js
  docs/subdocs.md
  docs/transactions.md
  docs/tutorials/custom-casting.md
  docs/tutorials/findoneandupdate.md
  docs/tutorials/lean.md
  docs/tutorials/query_casting.md
  docs/tutorials/virtuals.md
  docs/validation.md
  examples/mapreduce/mapreduce.js
  examples/querybuilder/querybuilder.js
  lib/aggregate.js
  lib/browser.js
  lib/connection.js
  lib/cursor/AggregationCursor.js
  lib/cursor/QueryCursor.js
  lib/document.js
  lib/error/index.js
  lib/index.js
  lib/model.js
  lib/query.js
  lib/schema/string.js
  lib/schematype.js
  lib/types/array/methods/index.js
  lib/virtualtype.js
  test/docs/validation.test.js
  types/collection.d.ts
  types/document.d.ts
  types/models.d.ts
  types/query.d.ts
  types/schematypes.d.ts
  types/types.d.ts
Labels: docs

#12771 style(types/aggregate): rename generic to match Query definition
  types/aggregate.d.ts
Labels: developer-experience, typescript

#12818 fix(schematypes): add property "defaultOptions"
  test/types/schemaTypeOptions.test.ts
  types/schematypes.d.ts
Labels: typescript

#12817 fix(schemaoptions.d.ts): add option "overwriteModels" as a schema option
  test/types/schema.test.ts
  types/schemaoptions.d.ts
Labels: typescript

#12825 docs(typescript): make note about recommending `strict` mode when using auto typed schemas
  docs/typescript/schemas.md
Labels: docs, typescript

#12830 Search content by version
  docs/js/search.js
Labels: docs

#12841 docs(navbar-search): add missing variable
  docs/js/navbar-search.js
Labels: docs
