Repository Automattic/mongoose, pull requests merged in 2022-01, with the labels that each got.

#11179 documentation: fixed broken link
  lib/index.js
Labels: docs

#11177 Update docs to include the section about populating multiple paths in middleware
  docs/populate.md
Labels: docs

#11184 Update connections.md
  docs/connections.md
Labels: docs

#11201 bulkSave Typings
  index.d.ts
Labels: typescript

#11204 fix(documentation): remove extraneous backquote
  docs/defaults.md
Labels: docs

#11214 Fix Node.js Driver compat link
  docs/compatibility.md
Labels: docs

#11171 Updated docs and issue templates for new FAQs
  .github/ISSUE_TEMPLATE.md
  docs/faq.md
Labels: docs

#11243 move "allowSyntheticDefaultImports" into "compilerOptions" in tsconfi…
  test/typescript/tsconfig.json
Labels: developer-experience
