Repository Automattic/mongoose, pull requests merged in 2023-02, with the labels that each got.

#12935 BREAKING CHANGE: make exported model just an interface, rename exported Model const -> ModelClass
  test/types/generics.test.ts
  test/types/models.test.ts
  test/types/queries.test.ts
  types/models.d.ts
  types/query.d.ts
Labels: typescript

#13000 docs(populate): fix out of date comment referencing `onModel` property
  docs/populate.md
Labels: docs

#12878 chore(promises): removed support for custom promise libraries
  docs/promises.md
  index.js
  lib/browser.js
  lib/connection.js
  lib/helpers/promiseOrCallback.js
  lib/index.js
  lib/model.js
  lib/promise_provider.js
  package.json
  test/aggregate.test.js
  test/connection.test.js
  test/docs/promises.test.js
  test/docs/validation.test.js
  test/document.test.js
  test/index.test.js
  test/model.aggregate.test.js
  test/model.create.test.js
  test/model.indexes.test.js
  test/model.mapreduce.test.js
  test/model.populate.test.js
  test/model.test.js
  test/schema.validation.test.js
  types/index.d.ts
Labels: backwards-breaking

#12223 docs(api.pug): change to redirect to mongoose API page
  docs/api.pug
  docs/includes/nav.pug
  docs/js/redirect-old-api.js
  docs/layout.pug
  docs/source/api.js
  docs/source/index.js
Labels: docs

#13020 style(index.pug): update sponsor image
  index.pug
Labels: docs

#13019 Update & remove old links
  docs/connections.md
  docs/guide.md
  docs/migrating_to_5.md
  docs/models.md
  docs/queries.md
  docs/schematypes.md
  docs/subdocs.md
  docs/tutorials/ssl.md
  lib/query.js
Labels: docs

#13057 docs(middleware): list `validate` as a potential query middleware
  docs/middleware.md
Labels: docs

#13077 Fix code in headers for `migrating_to_5`
  docs/migrating_to_5.md
Labels: docs

#13090 docs: fix populate docs
  docs/populate.md
Labels: docs

#13091 Backport some documentation changes into 6.x
  docs/migrating_to_6.md
  docs/populate.md
  lib/schematype.js
Labels: docs
